
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/dist/css/bootstrap.min";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

h1, h2, h3, h4, h5, p, li {
  color: white;
}

.container-fluid {
  padding: 0;
}

.navbar {
  background-color: black;
  border-color: black;
  margin: 0;
  border: 0;
}

.banner {
  height: 100vh;
  background-image: url(/img/mountains-italy.jpg);
  background-size: 100%;
  background-position: center;
  padding: 0;
}

.profile-photo {
  height: 270px;
  margin-top: 27vh;
}

#can {
  position: relative;
  z-index: 0;
}

.mg-clear{
	margin:0;
}

.panel{
  background-color: black;
	border:0;
	box-shadow: 0 0 2px rgba(0,0,0,.4);
}
.panel-heading, .panel-footer{
	background-color: inherit;
	border-color: rgba(0,0,0,.1)!important;
}
.panel-sq, .panel-sq .panel-heading, .panel-sq .panel-footer{
	border-radius:0;
}
.panel-rd{
	border-radius:30px;
}
.panel-rd .panel-heading{
	border-radius:29px 29px 0 0;
}
.panel-rd .panel-footer{
	border-radius:0 0 29px 29px;
}

body, html {
  background: black;
  border: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
  color: white;
}

.subtitle {
  font-size: 24px;
  text-align: center;
  color: white;
}

.date {
  font-size: 18px;
  text-align: center;
  color: white;
}

.caption {
  font-size: 12px;
  text-align: center;
  color: white;
}

.company {
  font-size: 12px;
  text-align: center;
  color: white;
}

.clients {
  margin-left: 0px;
  margin-right: 0px;
}

.client {
  width: 100%;
  height: 250px;
  margin: 0px;
  border: 0px;
}

.client-info {
  margin-right: 30%;
  padding-top: 30px;
}

.client-photo {
  margin-bottom: 20px;
  border: 0px;
  width: 200px;
  height: 200px;
  margin-left: 50%;
}

.projects {
  margin-left: 0px;
  margin-right: 0px;
}

.project {
  height: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.project-info {
  padding-top: 630px;
}

.galery{
  margin-top: 2.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.project-photo {
  display: inline-block;
  width: 200px;
  height: 200px;
}

.service {
  margin-bottom: 30px;
}

.service-photo {
  margin-left: 33%;
  margin-right: 33%;
  width: 100px;
  height: 100px;
}
