
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/dist/css/bootstrap.min";

h1, h2, h3, h4, h5 {
  color: white;
}

h3.mg-clear {
  color: blue;
}

.panel {
  height: 500px;
}

.panel-heading {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.panel-body {
  height: 200px;
}

.panel-body > h3,h4 {
  color: black;
}

#bloc-14 h3{
	padding-top: 400px;
}
